#headstyle
{
   
    font-family: 'Roboto', sans-serif;
  background-color:lightcyan;
  display: inline;
  

}
#center
{
    text-align: center;
}


#name
{
    height: 50px;
    width: 450px;
 

    text-align: center;
    font-weight: bolder;
    font-size: large;
}
#dept
{
    height: 50px;
    width: 450px;
   
   
    text-align: center;
    font-weight: bolder;
    font-size: large;
    
}
#rating
{
    height: 50px;
    width: 450px;
 
  
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

#sub
{
    height: 50px;
    width: 100px;
    color: white;
    background-color:#007bff;
    border: #007bff;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
#sub:hover
{
    /* filter: brightness(90%); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  
}
#details
{
    /* margin-left: 40px; */
    font-size: larger;
    background-color:lightslategray;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    color: white;
    /* margin: auto; */
    
   
  
}
#flex
{
    /* background-color: blanchedalmond; */
    margin: 50px 50px 50px 50px;
    /* padding: 20px 20px 20px 20px; */
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
#namestyle 
{
    font-size: larger;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
#deptstyle
{
    font-size: larger;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
#ratestyle
{
    font-size: larger;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
#containerform
{
    background-color:whitesmoke;
    height: 500px;
    width: 500px;
    /* text-align: center; */
    margin: auto;
}